 
#big-video {
    text-align: center;
    height: 840px;
}

#update-info {
    text-align: center;
    margin: 30px
}

#event-schedule {
    text-align: center;
    width: 300px;
}

#download-contents {
    text-align: center;
    width: 300px;
}